Repository paul-heyse/kgforge: changes, and which pre-commit hooks are due for each by the changed paths.
All: gpu-test-gate, validate-gallery

gpu-test-gate:
  name: Ensure GPU tests are gated
  entry: uv run python tools/lint/check_gpu_marks.py
  language: system

validate-gallery:
  name: Validate gallery examples
  entry: uv run python tools/validate_gallery.py
  language: system
  pass_filenames: false

docs: ensure artifact validation uses repo schemas
  docs/_scripts/validate_artifacts.py
  tests/docs/test_validate_artifacts_script.py
  tests/tools/docstring_builder/test_docfacts_invariants.py
  tests/tools/test_check_stub_parity.py
Due: gpu-test-gate

docs: clarify navmap rebuild guidance
  docs/reference/error-codes/index.md
Due: none

docs: align agent catalog test map defaults
  tests/tools/test_build_agent_catalog.py
  tools/docs/build_agent_catalog.py
Due: gpu-test-gate

move away from mypy and work on documentation error resolution
  AGENTS.md
  Makefile
  javascript/agent-catalog-client/src/index.ts
  kgfoundry.code-workspace
  mypy.ini
  pyproject.toml
  pyrightconfig.jsonc
  scripts/bootstrap.sh
  src/embeddings_sparse/bm25.py
  src/kgfoundry/agent_catalog/models.py
  src/kgfoundry/agent_catalog/search.py
  src/search_api/types.py
  tests/docs/test_validate_artifacts_script.py
  tools/_shared/settings.py
  tools/docs/build_agent_catalog.py
  tools/docs/build_artifacts.py
  tools/docs/catalog_models.py
  tools/docstring_builder/cli.py
  tools/docstring_builder/models.py
  tools/generate_pr_summary.py
Due: gpu-test-gate

adding docstrings
  pyproject.toml
  src/kgfoundry_common/config.py
  src/kgfoundry_common/errors/__init__.py
  src/kgfoundry_common/numpy_typing.py
  src/kgfoundry_common/observability.py
  src/kgfoundry_common/opentelemetry_types.py
  src/kgfoundry_common/problem_details.py
  src/kgfoundry_common/prometheus.py
  tests/docs/test_artifact_models.py
  tools/_types/pytestarch_facade.py
  tools/architecture.py
  tools/auto_docstrings.py
  tools/check_docstrings.py
  tools/check_imports.py
  tools/docs/build_agent_analytics.py
  tools/docs/gallery_manifest.py
  tools/docs/render_agent_portal.py
  tools/docs/scan_observability.py
  tools/docstring_builder/legacy.py
  tools/docstring_builder/orchestrator.py
Due: gpu-test-gate

removing auto generated docstring tags and creating richer docstrings, beginning tree-sitter setup
  .gitmodules
  codeintel/build/.gitignore
  codeintel/indexer/.gitkeep
  codeintel/mcp_server/.gitkeep
  codeintel/queries/.gitkeep
  codeintel/ts_languages/.gitkeep
  docs/_ts/.gitkeep
  docs/_types/artifacts.py
  examples/_utils.py
  pyproject.toml
  scripts/check_pyrefly_suppressions.py
  sitecustomize.py
  src/embeddings_sparse/bm25.py
  src/embeddings_sparse/splade.py
  src/kgfoundry/agent_catalog/cli.py
  src/kgfoundry/agent_catalog/search.py
  src/kgfoundry_common/config.py
  src/kgfoundry_common/fs.py
  src/kgfoundry_common/logging.py
  src/kgfoundry_common/parquet_io.py
  src/kgfoundry_common/problem_details.py
  src/kgfoundry_common/prometheus.py
  src/kgfoundry_common/safe_pickle_v2.py
  src/kgfoundry_common/serialization.py
  src/kgfoundry_common/typing/__init__.py
  src/orchestration/cli.py
  src/orchestration/safe_pickle.py
  src/registry/duckdb_helpers.py
  src/search_api/app.py
  src/search_api/bm25_index.py
  src/search_api/faiss_adapter.py
  src/search_api/types.py
  src/search_api/vectorstore_factory.py
  src/search_client/client.py
  tests/tools/docstring_builder/test_pipeline_helpers.py
  uv.lock
Due: gpu-test-gate, validate-gallery

more detailed docstrings plus initial tree-sitter setup
  codeintel/__init__.py
  codeintel/build_languages.py
  codeintel/indexer/__init__.py
  codeintel/indexer/cli.py
  codeintel/indexer/tscore.py
  codeintel/queries/python.scm
  pyproject.toml
  src/download/harvester.py
  src/registry/api.py
  src/registry/duckdb_registry.py
  src/registry/helper.py
  src/search_api/fixture_index.py
  src/search_client/client.py
  tests/codeintel/__init__.py
  tests/codeintel/test_tscore.py
  uv.lock
Due: gpu-test-gate

setup of tree mcp and continual docstring work
  codeintel/indexer/cli.py
  codeintel/indexer/tscore.py
  codeintel/mcp_server/__init__.py
  codeintel/mcp_server/http_bridge.py
  codeintel/mcp_server/server.py
  codeintel/mcp_server/tools.py
  pyproject.toml
  src/embeddings_sparse/base.py
  src/kgfoundry/__init__.py
  src/kgfoundry/agent_catalog/audit.py
  src/kgfoundry/agent_catalog/mcp.py
  src/kgfoundry/agent_catalog/rbac.py
  src/kgfoundry/search_api/__init__.py
  src/kgfoundry_common/errors/codes.py
  src/kgfoundry_common/errors/exceptions.py
  src/kgfoundry_common/models.py
  src/kgfoundry_common/navmap_types.py
  src/kgfoundry_common/schema_helpers.py
  src/ontology/catalog.py
  src/search_api/__init__.py
  src/search_api/kg_mock.py
  src/search_api/schemas.py
  src/search_api/service.py
  src/search_api/splade_index.py
  tests/codeintel/test_tools.py
  uv.lock
Due: gpu-test-gate

more agent portal removal
  AGENTS.md
  docs/agent_portal_readme.md
  docs/contributing/typing.md
  docs/reference/testing-observability-strategy.md
  schema/agent_catalog/search_document.v1.json
  schema/agent_catalog/search_options.v1.json
  src/kgfoundry/README.md
  src/tests/README.md
  tools/agent_catalog/__init__.py
  tools/agent_catalog/catalogctl.py
  tools/agent_catalog/catalogctl_mcp.py
  tools/docs/__init__.py
  tools/docs/analytics_models.py
  tools/docs/catalog_models.py
  tools/lint/importlinter.typing.ini
Due: none

more ai agent removal
  NAMESPACE_ALIGNMENT_SUMMARY.md
  RELEASE_NOTES_PHASE6.md
  SECURITY.md
  baseline_typing_violations.txt
  docs/reference/search.md
  openspec/AGENTS.md
  schema/search/catalog_cli.json
  schema/search/mcp_payload.json
  schema/search/search_response.json
  schema/tools/cli_envelope.json
Due: none

more minor cleanup plus mkdocs implementation
  javascript/agent-catalog-client/package-lock.json
  javascript/agent-catalog-client/package.json
  javascript/agent-catalog-client/src/__tests__/client.test.ts
  javascript/agent-catalog-client/src/index.ts
  javascript/agent-catalog-client/tsconfig.json
  javascript/agent-catalog-client/vitest.config.ts
  tools/mkdocs_suite/docs/_scripts/gen_module_pages.py
  upstream_fixes/pyserini-trectools-raw-sep.patch
Due: none

Path conditions:
  gpu-test-gate: any of: ^tests/.*\.py$
  validate-gallery: any of: ^examples/.*\.py$
